[generic]
seed = 13
number_of_supported_parallel_tunnels=10
results=results/
duration=10000
transient_phase_duration=3600
startup_time=20
shutdown_time=20
#startup_condition=lambda tunnels, instances, instance_capacity, hour_of_day: (instances*instancecapacity - tunnels) < instancecapacity
startup_condition=triggers.DefaultStartupCondition
shutdown_condition=triggers.DefaultStartupCondition
