[generic]
number_of_supported_parallel_tunnels=10
duration=10000
transient_phase_duration=3600
startup_time=20
shutdown_time=20
#startup_condition=lambda tunnels, instances, instance_capacity, hour_of_day: (instances*instancecapacity - tunnels) < instancecapacity
startup_condition=lambda instances, instance_capacity, tunnels, hour_of_day: (instances*instance_capacity - tunnels) < 2
shutdown_condition=lambda instances, instance_capacity, tunnels, hour_of_day: (instances*instance_capacity - tunnels) >= instance_capacity * 2